[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
data = "*"
pydantic-settings = "*"

[dev-packages]
ruff = "*"
mypy = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.11"
